
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF reset style */

/*==== general =====*/
#div1{
  display: none;
}
*{
	box-sizing: border-box;
}
a,
span{
	display: inline-flex;
}
a{
	text-decoration: none;
	color: white;
}
.row{
	width: 100%;
	content: "";
	clear: both;
	display: table;
  }
  /*I added border to show how col works ;)*/
  [class*="col-"] {
	float: left;
	padding: 0 20px;
	border: 1px solid red;
  }
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body{
	font-family: 'Lora', serif;
	min-height: 100%;
	display: flex;
  flex-direction: column;
  background-color: rgb(153, 138, 138);
}
section{
	display: block;
	background: rgb(150, 150, 150);
	border: 1px solid brown;
}
/*=== header ====*/
.main_header{
	width: 100%;
	background: #503735;
	height: 150px;

}
.header_container{
	display: grid;
	grid-template-columns: 10% auto 15%;
	min-height: 150px;
}
.logo{
	display: block;
	width: 60px;
	height: 80px;
	margin: auto;
}
.nav_menu_list{
	display: flex;
	flex-direction: row;
	text-align: center;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
}
.nav_menu_icon img{
	transform: rotate(-11deg) ;
	max-width: 30px;
}
.nav_menu_icon img:hover{
	transform: rotate(0) ;
}
figure:hover,
.nav_menu_item_h2:hover,
figcaption:hover>p{
	color: #390c09;
}

.nav_menu_list li{
    width: 20%;
    padding: 20px;
}
.nav_menu_item_h2 span{
	font-size: 30px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
}
.main_nav_item_p p{
	font-style: italic;
	font-size: 12px;
}

 .btn{
    font-size: 20px;
    color: white;
    margin: auto;
    background: transparent;
    border: 3px solid white;
    border-radius: 8px;
    cursor: pointer;
    padding: 11px 11px 11px 15px;
    font-weight: bold;
 }
 
/*====== END header ======*/

/*==== first section =====*/

.first-block{
  width: 100%;
}
.box{
  background-color: white;
  font-weight: bold;
  font-size: 22px;
  padding: 10px;
}
.top-text{
  position: absolute;
  top: 200px;
  left: 520px;
  z-index: 1;
  margin: auto;
  letter-spacing: 1px;
}
.bottom-text{
  position: absolute;
  top: 240px;
  left: 610px;
  margin: auto;
  letter-spacing: -1px;
}

.tiny-box{
  padding: 200px 64px 148px 64px;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
}
.tiny-box:nth-child(1){
  background-color: rgb(131, 102, 102);
}
.tiny-box:nth-child(2){
  background-color: #574c4b;
}
.tiny-box:nth-child(3){
  background-color: #7e6e6d;
}
.tiny-box:nth-child(4){
  background-color: #3f3c3c;
}
.left-top img,
.persons_photo img{
  transform: rotate(-11deg);
  max-width: 76px;
  border: 4px solid white;
  border-radius: 10px;
}
.left-top img:hover,
.persons_photo img:hover{
  transform: rotate(0);
}
.left-top span{
  font-style: italic;
  font-weight: 400;
}
.left-top p{
  margin: 20px 0 0 20px;
}
.tiny-box h1{
  padding-top: 30px;
  line-height: 1.5;
  font-size: 33px;
}
.tiny-box i:after{
  content: '→';
  display: block;
  color: #fff;
  font-size: 70px;
  padding: 0;
  position: absolute;
}
/*====END first-section=====*/

/*=====articles-box=====*/

.article{
  padding: 20px 20px 150px 20px;
}

.first-article {
  background-color:rgb(156, 139, 116);
}
/*
.article h2>a:hover{
 color: #390c09;
 font-size: 15px;
 font-style: italic;
}
*/
.second-article {
  background-color: rgb(119, 128, 105);
}

.third-article {
  background-color: rgb(121, 111, 99);
}


.article h2{
  color: black;
  font-size: 25px;
}

.article p {
  font-size: 20px;
  line-height: 1.7;
  padding-top: 15px;
}

.left-block{
  margin: 60px 25px 0 25px;
  text-align: center;
}
/*======START EXPLORE=======*/
.third-block{
  margin: auto;
  border-radius: 5px;
  background-color: #3f3c3c;
  border: 1px solid brown;
}
.left_block {
  height: 300px;
  background-color: rgb(39, 49, 49);
  margin: 60px 25px 0 25px;
  border-radius: 12px;
  text-align: center;
}

.right_block {
  height: 500px;
  background-color: rgb(71, 61, 42);
  border-radius: 12px;
  text-align: center;
  margin: 15px;
}

.left_block p ,
.left-block p{
  font-size: 19px;
  padding: 30px;
}

.right_block p {
  font-size: 20px;
  line-height: 1.7;
}

.right_block h2 {
  font-size: 40px;
  line-height: 1.7;
  padding: 30px;
  margin: 10px;
}
.explore-btn {
margin-top: 50px;
}

/*======END EXPLORE=========*/

/*======START article-container and article-banner======*/

.forth_block {
  margin: auto;
  border-radius: 20px;
  background-color: #928787;
}

.article_container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: 500px;
  padding-top: 40px;
}

.article_banner a {
  font-size: 30px;
  color: rgb(3, 3, 3);
}

.banner-second{
  background-color: #4f6e5e;
    text-align: center;
    padding: 40px 219px;
}
.banner{
  background: url(https://d33wubrfki0l68.cloudfront.net/148069bc1849f0c7b2304c945073dbdfdb6341f0/b12bb/images/printed-mag/printmag-homepage-opt.svg) no-repeat;
  background-position: center;
  padding: 250px;
  background-color: grey;
}
/*======END article-container and article-banner ========*/

/*======START PERSON OF THE WEEK ========*/
.person-of-the-week{
  margin: auto;
  border-radius: 15px;
  background-color: #d8cdcd;
}

.second_person h3,
.book-left h3,
.banner-second h3,
.third_person h3,
.forth_person h3,
.fifth_person h3,
.sixth_person h3,
.seventh_person h3{
  font-size: 26px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-transform: uppercase;
  color: rgb(43, 38, 30);
}

.second_person p,
.book-left p,
.banner-second p,
.third_person p,
.forth_person p,
.fifth_person p,
.sixth_person p,
.seventh_person p{
  font-size: 22px;
  line-height: 1.7;
  color: #333;
}

.first_person,
.second_person{
  padding: 50px;
}
.second_person h3{
  padding-bottom: 20px;
}

.first_person img {
  width: 250px;
  border-radius: 8px;
  border: 5px solid chocolate;
  transform: rotate(-11deg);
  margin: 22px 0 0 10px;
}

.first_person img:hover {
  transform: rotate(0);
}

.person{
  padding: 50px 35px;
}
.person-of-the-week>:nth-child(2){
  background-color: #857d7d;
}
.person-of-the-week>:nth-child(3){
  background-color: #645353;
}
.person-of-the-week>:nth-child(3){
  background-color: #b68c8c;
}

/*======END PERSON OF THE WEEK ========*/

/*===== START load more section====*/
a.load_more_link:after {
	content: ' → ';
}
.load_more {
  background-color: rgb(163, 157, 157);
	height: 200px;
  text-align: center;
	padding: 80px 0 80px;
}
a.load_more_link {
    text-transform: uppercase;
    font-size: 20px;
    color: #333;
    border-bottom: 5px solid #d33a2c;
    letter-spacing: 1px;
    padding: 10px 0;
    cursor: pointer;
}

/*=====START BOOK======*/
.book-left{
  padding: 50px;
}
.book-right{
  padding-bottom: 30px;
}
.book-right img {
  height: 400px;
  width: 250px;
  transform: rotate(-11deg);
  padding-bottom: 30px;
} 
.book-right img:hover{
  transform: rotate(0);
}


/*=====END BOOK========*/

/*===== START guides =====*/
.guide h3,
.news-right h3,
.news-left h3{
  font-size: 30px;
  font-weight: bold;
}
.guide{
  padding: 30px;
}
.guide ul,
.news-right ul{
  margin: 40px;
}
.guide a,
.news-right a{
  text-decoration: underline;
  color: blue;
  font-size: 20px;
  line-height: 1.5;
}
/*===== END guides ========*/

/*===== START newsletter =====*/
.newsletter section{
  background-color: red;
}
.news-left{
  padding: 30px;
  text-align: center;
}
.news-left img{
  width: 200px;
  height: 200px;
}
/*===== END newsletter =====*/

/*===== START footer ===============*/

.links-footer {
  background-color: rgb(78, 78, 78);
  border: 1px solid rgb(202, 73, 73);
  padding: 100px;
  padding-top:25px;
}

.links-footer h3 {
  text-align: center;
  color: white;
  padding: 30px;
}

.list,
.list2 { 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.list li{
  display: inline-block;
  padding-top: 10px;
  font-size: 25px;
  line-height: 1.7;
}

.links-footer li:before {
  content: '•';
  margin-right: 0.5em;
  font-size: 11px;
  color: red;
}

.list li a:hover {
  text-decoration: underline;
  color: #390c09;
}

.list2 li,
 .quality-footer a {
  text-decoration: underline;
  color: white;
}

.quality-footer,
.contact-footer {
  background-color: rgb(78, 78, 78);
  padding: 50px;
  
}
.contact-footer {

  background-image: url("https://www.smashingmagazine.com/images/footer/laptop__left.svg"), url("https://www.smashingmagazine.com/images/smashing-cat/cat-the-behemoth.svg");
  background-repeat: no-repeat;
  background-position: left 15% bottom 16px,right 12% bottom 32px;
  background-size: 160px auto, 224px auto;
}

.list2 li {
  display: inline-block;
  line-height: 3;
}

.list2 li::before {
  content: '';
  margin-right: 2em;
}

.quality-footer h1,h2,h3,h4 {
  text-align: center;
  line-height: 1.7;
}

.quality-footer h1 {
  font-style: italic;
}

/*===== END footer =================*/
